@model TesTransaction.Models.TrPaymentViewModel

@{
    ViewBag.Title = "PaymentMenu";
}

@section Styles {
    <link href="@Url.Content("~/Content/test2.css")" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="@Url.Content("~/Scripts/pos2.js")" type="text/javascript"></script>
}


<div style="visibility: hidden">
    @Html.LabelFor(m => m.NumTransaction)
    @Html.TextBoxFor(m => m.NumTransaction, new { size = "3", @readonly = "readonly" })
    @Html.ValidationMessageFor(m => m.NumTransaction, "", new { @class = "text-danger" })
</div>
<p>Vue Mère : @DateTime.Now.ToLongTimeString()</p>

<h2>@Html.LabelFor(m => m.GlobalTotal)</h2>
<div id="totalToPay">
    @*<p>258.99</p>*@
    @Html.TextBoxFor(m => m.GlobalTotal, new { @readonly = "readonly" })
</div>
<div id="payTransac" class="row">
    <div class="col-md-4">
        <h4>@Html.LabelFor(m => m.MethodP)</h4>
        <div id="paymentMethods">
            <button id="cashMethod" class="btn btn-outline-primary btn-lg" onclick="methodPayment(this)" value="Cash">Cash</button>
            <button id="cardMethod" class="btn btn-outline-primary btn-lg" onclick="methodPayment(this)" value="Card">Carte</button>
            <button id="voucherMethod" class="btn btn-outline-primary btn-lg" onclick="methodPayment(this)" value="Voucher">Bon</button>
        </div>
    </div>
    <div id="paymentChoice" class="col-md-8">
        
    </div>
</div>
