
@{
    ViewBag.Title = "Transaction";
}

@section Styles {
    <link href="@Url.Content("~/Content/test2.css")" rel="stylesheet" type="text/css" />
}

<h2>Transaction</h2>

<p>
    @Html.ActionLink("Back to Home", "Index", "Home")
</p>

<span class="text-danger">@ViewBag.Error</span>

<div class="container">
    <div class="row">
        <h4>Menu</h4>
        <div class="jumbotron menuTransac">
            <div>
                <button type="button" class="btn btn-primary menuButton" onclick="location.href='@Url.Action("Create", "Cash")'">Créer un </br>fond de caisse</button>
            </div>
            <div>
                <button type="button" class="btn btn-primary menuButton" onclick="location.href='@Url.Action("Index", "Transaction")'">Nouvelle</br>Transaction</button>
            </div>
            <div>
                <button type="button" class="btn btn-primary menuButton" onclick="location.href='@Url.Action("Index", "Cash")'" disabled>Vider la </br> caisse</button>
            </div>
            <div>
                <button type="button" class="btn btn-primary menuButton" onclick="location.href='@Url.Action("End", "Cash")'">Cloturer le </br>fond de caisse</button>
            </div>
        </div>
        <div class="jumbotron menuTransac">
            <div>
                <button type="button" class="btn btn-primary menuButton" onclick="location.href='@Url.Action("Index", "Cash")'">Consulter les </br> fonds de caisse</button>
            </div>
            <div>
                <button type="button" class="btn btn-primary menuButton" onclick="location.href='@Url.Action("Index", "Cash")'" disabled>Ré-imprimer </br> un ticket</button>
            </div>
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
        </div>
    </div>
</div>