@model TesTransaction.Models.TrDetailsViewModel


<table class="table" id="tableDetail">
    <tr>
        <th>Produit</th>
        <th>Prix</th>
        <th>Quantité</th>
        <th>Remise</th>
        <th>tva</th>
        <th>Total</th>
    </tr>
    @{
        if (Model.DetailsListWithTot != null)
        {
            foreach (var item in Model.DetailsListWithTot)
            {
                <tr>
                    <td id="nameItem">@item.ProductName</td>
                    <td id="price">@item.Price</td>
                    <td id="quantity">@item.Quantity</td>
                    <td id="Discount">@item.Discount</td>
                    <td id="vatItem">@item.ProductVat</td>
                    <td id="itemSubTot">@item.Total</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        }
    }

</table>

<div id="Total">
    <label for="subTotal1"><strong>Sous-Total des articles</strong></label>
    <input type="text" id="subTotal1" name="subTotal1" value="@ViewBag.subTot1" />

    <label for="subDiscount"><strong>Remise globale</strong></label>
    <input type="text" id="subDiscount" name="subDiscount" value="" />

    <label for="subTotal2"><strong>Sous-Total HTVA</strong></label>
    <input type="text" id="subTotal2" name="subTotal2" value="" />

    <label for="globalVAT"><strong>TVA </strong></label>
    <select>
        <option id="globalVAT" value="0.21">21%</option>
    </select>
    @*<input type="text" id="globalVAT" name="globalVAT" value="" />*@

    <label for="Total"><strong>TOTAL à payer </strong></label>
    <input type="text" id="Total" name="Total" value="" />
</div>

<p>Vue partielle : @DateTime.Now.ToLongTimeString()</p>

