@model TesTransaction.Models.TrDetailsViewModel


<table class="table" id="tableDetail">
    <tr>
        <th>Produit</th>
        <th>Prix</th>
        <th>Quantité</th>
        <th>Remise</th>
        <th>tva</th>
        <th>Total</th>
    </tr>
    @{
        if (Model.DetailsListWithTot != null)
        {
            foreach (var item in Model.DetailsListWithTot)
            {
                <tr>
                    <td id="nameItem">@item.ProductName</td>
                    <td id="price">@item.Price</td>
                    <td id="quantity">@item.Quantity</td>
                    <td id="Discount">@item.Discount</td>
                    <td id="vatItem">@item.ProductVat</td>
                    <td id="itemSubTot">@item.Total</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        }
    }

</table>
<p>Vue partielle : @DateTime.Now.ToLongTimeString()</p>

